/* Photogallery Container */
.photogallery-container {
  width: 100%;
  background-color: rgb(138, 115, 241);
  padding: 20px; /* Increased padding for spacing */
  text-align: center; /* Center align content */
}

/* Photogallery Title */
.photogallery-title {
  margin-top: 10px; /* Adjusted margin for spacing */
  color: #fcf1ce;
  font-size: 32px; /* Increased font size for title */
  font-weight: bold; /* Added font weight */
}

/* Photogallery Images Grid */
.photogallery-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 15px;
  justify-items: center; /* Center align grid items */
}

/* Photogallery Image */
.photogallery-images img {
  width: 100%;
  max-width: 100%; /* Ensure images don't exceed container width */
  max-height: 300px;
  display: block;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out; /* Smoother image hover effect */
}

/* Image Hover Effect */
.photogallery-images img:hover {
  transform: scale(1.05);
}

/* Button */
.photogallery-container button {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px; /* Increased padding for better button size */
  border-radius: 5px;
  outline: none;
  margin-top: 20px; /* Increased top margin for spacing */
  color: #fff;
  border: none;
  background-color: rgb(233, 83, 75);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; /* Smooth hover effect */
}

/* Button Hover Effect */
.photogallery-container button:hover {
  background-color: #fff;
  color: rgb(233, 83, 75);
  transition: background-color 0.3s ease-in-out;
}
